<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test.css">
    <style>
        .titletext {
            background-color: rgb(206, 206, 217);
            border-radius: 5px;
            padding: 2px 2px 2px 2px;
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
</head>
<body>
    <h1 class="titletext">Hello World</h1>
</body>
</html>
